.App {
  text-align: center;
  background-image: url('./Assesst/night-tree-bear-girl-wallpaper-preview.jpg');
  background-size: cover; /* Make the image cover the full area */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the image */
  min-height: 100vh;
  padding: 2%;
}



